<link href="~/Content/EstilosIldara.css" rel="stylesheet" />

@{
    ViewBag.Title = "Información de contacto";
    ViewBag.Message = "Proyecto para Technoloshe .NET";
}
<br />
<h4>@ViewBag.Title</h4>
<h5>@ViewBag.Message</h5>


<address>
    <p>Ildara Bustamante</p>   <a href="mailto:ildi.busttamante@hotmail.com">ildi.busttamante@hotmail.com</a><br />
</address>