@{
    ViewBag.Title = "El cielo en Agosto";
}
@* Aca conecte mi propia hoja de estilos para fondos principalmente. *@
<link href="~/Content/EstilosIldara.css" rel="stylesheet" />

<div class="jumbotron" title="Nebulosa del Velo">
    <h1 >El cielo de Agosto</h1>
    <p class="lead">Este es un cátalogo de los objetos celestes visibles durante el mes de Agosto en el hemisferio Sur.</p>
    </div>

<div class="row">
    <div class="col-md-6">
        <h2>¿Es tu primera vez usando un catálogo astronómico?</h2>
        <p>
           Este catálogo cuenta con un detalle de datos e instrucciones de uso para comprender mejor la astronomía de aficionado
            @Html.ActionLink("hace click aquí","Index","Detalle") para saber más.
        </p>
        
    </div>
    <div class="col-md-6">
        <h2>Imágenes</h2>
        <p>En este @Html.ActionLink("link","Index","Imagen") podrás ver una grilla de imágenes de lo que podrás ver en el catálogo.</p>
   </div>
</div>