<link href="~/Content/EstilosIldara.css" rel="stylesheet" />

@{
    ViewBag.Title = "Imágenes";
}
<h3 class="text-center">Imágenes del catálogo para Agosto 2019</h3>
<br />
<div class="row">
    <div class="column col-md-4">
         <img src="~/Content/mercury_1.jpg" class="img-responsive " title="Mercurio">
        <img src="~/Content/dzxtQ2dXH9SVKztJTbAXSA.jpg" class="img-responsive " title="Venus">
        <img src="~/Content/15-199-americas.png" title="Tierra" class="img-responsive">
        <img src="~/Content/download.jpg" title="Marte"class="img-responsive">
        <img src="~/Content/hs-2016-24-a-print-new.jpg" title="Jupiter"class="img-responsive">
        <img src="~/Content/154_saturn_carousel_4.jpg" title="Saturno"class="img-responsive">
        <img src="~/Content/uranus.jpg" title="Urano"class="img-responsive">
        <img src="~/Content/pbox.jpg" title="Neptuno"class="img-responsive">
        <img src="~/Content/pluto.jpg" title="Pluton"class="img-responsive">
    </div>

    <div class="column col-md-4"> 
        <img src="~/Content/arturo.jpg" title="Arturo"class="img-responsive">
        <img src="~/Content/capella.jpg" title="Capella"class="img-responsive">
        <img src="~/Content/hadar.jpg" title="Hadar"class="img-responsive">
        <img src="~/Content/Procyon-01w.jpg" title="Procyon"class="img-responsive">
        <img src="~/Content/rigel.jpg" title="Rigel Kenta"class="img-responsive">
        <img src="~/Content/Schedar.jpg" title="Shedar"class="img-responsive">
        <img src="~/Content/Sirius-01w.jpg" title="Sirio"class="img-responsive">
        <img src="~/Content/muscida.png" title="Muscida"class="img-responsive">
        <img src="~/Content/vega.jpg" title="Vega"class="img-responsive">
    </div>
    <div class="column col-md-4">
        <img src="~/Content/aguja.jpg" title="Galaxia Aguja"class="img-responsive">
        <img src="~/Content/calavera.jpg" title="Nebulosa de la Calavera"class="img-responsive">
        <img src="~/Content/delvelo.jpg" title="Nebulosa del Velo"class="img-responsive">
        <img src="~/Content/dumbbell.jpg" title="Nebulosa Dumbbell"class="img-responsive">
        <img src="~/Content/esquimal.jpg" title="Nebulosa Esquimal"class="img-responsive">
        <img src="~/Content/messier29.jpg" title="Messier 29"class="img-responsive">
        <img src="~/Content/trifida.jpg" title="Nebulosa Trifida"class="img-responsive">
        <img src="~/Content/mediauliuna.jpg" title="Nebulosa Medialuna"class="img-responsive">
        <img src="~/Content/omega.jpg" title="Cúmulo Omega Centauri"class="img-responsive">
    </div>

</div>

